[2016-04-01 11:11] GaloMALDONADO opened #29 "Meshes are colored by the color of objects added to the viewer when moving the camera"
When adding color to one object (i.e. an sphere using addSphere) in the viewer, all my meshes take this color.
When adding  more than one colored object (each object has a different color), the meshes take these colors and the color change when moving the camera .

[2016-04-25 15:01] jcarpent commented on #29
This bug comes from OSG and not from Gepetto-Viewer. Closing issue.

[2016-04-25 15:01] #29 closed

[2016-05-06 12:28] olivier-stasse opened #32 "devel -> master & release"
Dear all,
Will you be ok with merging devel into master,
and thinking about a release (the tag for v1.0.0 is 03/2015...)

Best,
Olivier.

[2016-05-06 13:37] florent-lamiraux commented on #32
We need to check that the devel branch is compatible with all other master branches.
I will do it.

[2016-05-06 13:40] jmirabel commented on #32
I agree with you @florent-lamiraux, though it is very unlikely that there is any problem. I merged master and devel branches not so long ago and there are very few changes in the viewer.

[2016-05-06 13:42] olivier-stasse commented on #32
Do you think it would be worthwhile to write a set of unitary tests to check if the API is broken ?

[2016-05-06 13:42] olivier-stasse commented on #32
This would avoid testing over all master branches...

[2016-05-06 13:46] jmirabel commented on #32
Adding tests would be useful but I'm not sure how easy it is to automate tests on a viewer... I'm not sure what the best approach is. Maybe it would be easier to do this in the `gepetto-viewer-corba` package.

[2016-05-06 13:48] olivier-stasse commented on #32
@jmirabl In this case it would consists simply on calling each method for each class.
Modification of the API woud automatically break the tests compilation ...

[2016-05-06 13:51] jmirabel commented on #32
Oh yes, I did not understand it this way.
It should help to keep backward compatibility.

[2016-05-07 09:22] florent-lamiraux commented on #32
I pushed release 1.1.0 on trac.laas.fr
I did the same for gepetto-viewer-corba.

[2016-05-07 09:22] #32 closed

[2016-05-07 10:00] olivier-stasse commented on #32
Dear Florent,
Thanks a lot.
Could you push the tags on the github repository ?

[2016-09-18 21:45] olivier-stasse opened #40 "devel -> master & new release ?"
Would it be possible to make a new release of gepetto-viewer to 1.1.0 ?
A test with robotpkg on a 14.04 LTS seems to be compiling.
Best,
Olivier.

[2017-02-24 14:50] MaximilienNaveau opened #48 "intergration inside robotpkg"
In robotpkg it seems that the dependance of this package to robotpkg-omniorbpy is not set properly.
It looks like one have to install it separately to make the viewer work.

[2017-02-24 15:19] florent-lamiraux commented on #48
Can you be more accurate ? Which repository of robotpkg ? There is now one in humanoid-path-planner, there is robotpkg-wip.

[2017-05-22 16:10] #40 closed

[2017-06-30 11:44] nmansard commented on #48
Is this issue still problematic? If not, @MaximilienNaveau, could you close it?

[2017-09-10 15:58] florent-lamiraux opened #53 "Collision geometry are parsed even when not requested"

[2017-09-12 12:55] jmirabel commented on #53
The function `parse` should be fixed as it should not be an error.

Independently of the problem of `urdf-parser.cpp`, you can check that the DAE plugin is found by OSG using `osgconv --plugins | grep dae`

[2017-10-10 13:24] nim65s opened #54 "Release"
We should do a new release, now that the convention for quaternions has changed.

https://github.com/humanoid-path-planner/gepetto-viewer-corba/issues/61

[2017-10-11 13:04] #54 closed

[2017-11-22 14:31] Bilalhmd opened #55 "error in window-manager.cpp during install"
the error returned
gepetto-viewer/src/window-manager.cpp:420:12: error: no member named 'get' in 'osg::Matrixd'
    matrix.get(rot);

[2017-11-22 15:25] jmirabel commented on #55
There are two problems:
- `Matrixd::get` is deprecated and is only present if OSG was compiled with USE_DEPRECATED_API. I will replace the call.
- your version seems old. The line you mention is now at line 542.

[2017-11-22 15:40] #55 closed

[2017-11-24 17:06] zongmianli opened #57 "Error compiling Gepetto-viewer on macOS 10.13 High Sierra"
I am trying to install the master branch on Mac OS 10.13. I encountered 3 types of errors while compiling urdf-parser.cpp, and each occurred multiple times.

Since I don't use the URDF parser in my project, is it easy to just remove that functionality while installing? Thanks in advance.

******1. no viable overloaded******

******2. no matching function for call to 'static_pointer_cast'******

**

[2017-11-24 17:19] jmirabel commented on #57
The problem is that you have a more recent version of urdfdom, which uses `shared_ptr` from `std` instead of from `boost`. It should not be hard to solve. You could just try to replace the `boost::shared_ptr` by `std::shared_ptr`. (Same thing for cast operators). I do not guaranty it will work, but it is worth trying.

@nim65s Would you have time to make it compliant for both versions (as done in

[2017-11-24 17:44] jcarpent commented on #57
Or simply, you can install an older version of URDF (eg 0.3.0) waiting for the fix from our side.

[2017-11-24 17:46] jcarpent commented on #57
It appears that @nim65s already solved the issue (see https://github.com/nim65s/gepetto-viewer). It must be sufficient for your issues.

[2017-11-24 18:24] zongmianli commented on #57
Thanks Joseph and Justin, for being so reactive.

The `shared_ptr` problem has been solved by following Joseph's instruction (specifically I have modified

by making the same changes as commit 90e154 in the forked project https://github.com/nim65s/gepetto-viewer ). But the third error in the issue still exists: **use of overloaded operator '!=' is ambiguous**:

When I chose to compile the forked p

[2017-11-25 12:18] jmirabel commented on #57
Replace `if ( mesh_shared_ptr != 0 )` by `if ( mesh_shared_ptr )` for the first error.

The second error has been fixed in the devel branch by #56. It will be integrated soon in the master branch. Either try the devel branch or use `git cherry-pick` to take the commit which fixed the issue.

[2017-11-26 00:51] #57 closed

[2017-11-27 08:28] #48 closed

[2018-06-01 07:36] miggia opened #66 "issue with running CMake (maybe ADD_REQUIRED_DEPENDENCY macro)"
Hi,
I've been trying to compile gepetto-viewer on a Ubuntu distribution.
When I run `cmake`, however, I get the following error message.

[code]

The issue seems to be related to the `ADD_REQUIRED_DEPENDENCY` macro in `cmake/pkg-config.cmake` failing to find `openscenegraph`.
`openscenegraph` is installed in `/usr/local/lib64/`; I tried both compiling and installing with `apt-get install` and it d

[2018-06-01 07:49] jmirabel commented on #66
`/usr/local/lib64/pkgconfig`  must be in the `PKG_CONFIG_PATH` environment variable.

[2018-06-01 12:27] miggia commented on #66
That solved my issue; thank you.

Just for the record, when making the project I was getting `error: ‘to_string’ is not a member of ‘std’` errors, which I managed to solve by switching from `gcc5` to `gcc6`.

[2018-06-01 12:27] #66 closed

[2018-10-11 14:50] jcarpent opened #69 "Release"
@nim65s Why release version has made such big jump?

[2018-10-12 09:20] nim65s commented on #69
Hi,

This version number is the same for HPP packages that has been released together. It might not be a good decision, but when I see the time I need to release everything, I try to simplify the work.

A better solution would probably be to transfer gepetto-viewer & gepetto-viewer-server from HPP to Gepetto

[2018-10-12 13:52] nim65s commented on #69
Done

[2018-10-12 13:52] #69 closed

[2019-02-11 15:02] MaximilienNaveau opened #78 "basic geometry from the urdf no recognised"
Upon loading of a urdf, the simple geometry are not parse properly. The viewer creates the nodes but do not display anything. I think this has to do with the urdfdom compatilibity.

[2019-02-11 15:08] jmirabel commented on #78
Hi,
Check the standard output for error messages.

[2019-02-14 10:01] MaximilienNaveau opened #79 "Scaling factor set in the urdf are not recognized."
Setup:
Ubuntu14.04
robotpkg standard+wip with binary installation

example of problems with urdf:
[code]

[2019-02-14 10:06] MaximilienNaveau commented on #78
There are no output messages... That is why I need to go in debug mode and check things out...
Is this functionality working for you?
You can reproduce the behavior with this kind of link in a urdf:

[code]

[2019-02-14 11:48] jmirabel commented on #79
This is used by many people and I never had reports of such an issue. I
will have a look next week.

[2019-02-19 08:38] jmirabel commented on #78
There is a tiny error in your URDF. `yy` should be replaced by `iyy`.

The following works fine on my computer:
[code]

[2019-02-19 08:43] jmirabel commented on #79
The following code works fine on my computer:
[code]

[2019-02-19 16:05] jmirabel commented on #78
I let you reopen this if necessary.

[2019-02-19 16:05] #78 closed

[2019-02-19 16:05] jmirabel commented on #79
I let you reopen this if necessary.

[2019-02-19 16:05] #79 closed

[2019-02-28 12:30] nim65s opened #80 "error: ‘ObjectCache’ is not a member of ‘osgDB’"
Hi,

Since #77, I can't build devel:
[code]

This error could have been prevented by checking the CI:
https://gepgitlab.laas.fr/gepetto/gepetto-viewer/pipelines/3113/builds

This error prevents the CI of hpp-doc to pass: https://gepgitlab.laas.fr/gsaurel/hpp-doc/-/jobs/12087.

[2019-02-28 12:56] jmirabel commented on #80
Hum, I think I know the issue. I'll have a look.

[2019-02-28 12:57] nim65s commented on #80
Thanks :)

For now, on 16.04 / osg 3.2.1, I only found `ObjectCache` as a protected member of `osgDB::Registry`

[2019-02-28 13:08] jmirabel commented on #80
It was introduced somewhere between 3.2.1 and 3.4...

[2019-02-28 13:10] nim65s commented on #80
In 3.3.3: https://github.com/openscenegraph/OpenSceneGraph/commit/ed28ec97c708e31ea9030f2d88f3d0ace0e97baf#diff-b0eed203a64adbb82d6b2d33f3a5215c

[2019-02-28 13:54] #80 closed

[2019-03-05 15:10] jcarpent opened #83 "New release 4.3.1"
With the new fixes, I would need to make a new release of Gepetto-viewer. @jmirabel Is it fine for you?

[2019-03-05 15:17] nim65s commented on #83
No, please wait.
I have already a 4.4.0 ready. It is already in the binary repository, and I will finish to push it here by tomorrow.

[2019-03-05 15:19] jcarpent commented on #83
So, can you include my patch? which has been merged on devel by @jmirabel.

[2019-03-05 15:22] nim65s commented on #83
No, the patch will not be available on 4.4.0, it is too late. But we can make a 4.4.1 for apple users if you want. And we will not need to push this 4.4.1 on robotpkg.

[2019-03-05 15:25] jcarpent commented on #83
OK. Then, it will be fine if you can publish it now, for instance, I can take in charge the release 4.4.1.

[2019-03-05 15:25] jcarpent commented on #83
Just push the tag and on master, I will do the rest.

[2019-03-05 15:28] nim65s commented on #83
You don't need me, you can just make a 4.4.1 release. I pushed the 4.4.0 tag.

[2019-03-06 10:36] jcarpent commented on #83
4.4.1 is now out!

[2019-03-06 10:36] #83 closed

[2019-03-15 15:29] nim65s opened #86 "Missing plugins/CMakeLists.txt file"
Hi,

https://github.com/Gepetto/gepetto-viewer/blob/0e80cda20be7d49f8a24b2b848e3c0289c10d722/CMakeLists.txt#L161

So I think that either @jmirabel forgot to commit a file, or that  we should instead include invidiual plugins.

[2019-03-15 15:45] jmirabel commented on #86
Thanks for the report. I pushed directly on devel branch.

[2019-03-15 15:45] #86 closed

[2019-05-10 14:02] wxmerkt opened #92 "[Ubuntu 18.04] Movie recording broken (and GUI unreadable)"
I just installed `gepetto-gui` from robotpkg and used the `Movie record` button - however, the status window looks like this:

![image](https://user-images.githubusercontent.com/1664508/57532943-88ac5600-7334-11e9-867a-aeeb50535a20.png)

On 18.04, `avconv` has become `ffmpeg` again - this may be the source of this issue?

Unrelated, the menu entries are all illegible until hovered

[2019-05-10 17:12] jmirabel commented on #92
If avconv command is not available, recording a movie won't work. However,
I am surprised you didn't get any warning or error message. You can go to
/tmp/gepetto-gui/ to get the images.

About the menu entries, I have no idea what's going on. Something to do
with Qt...

BTW, you can install doxygen-icon-theme to get proper icons for some
buttons.

[2019-05-10 17:15] nim65s commented on #92
gepetto-viewer from robotpkg does not yet comes with PythonQt.

@jmirabel : you told me that this would make some optional features unavailable. Maybe this is one of those ?

[2019-05-10 17:25] wxmerkt commented on #92
I aliased avconv=ffmpeg and it didn't work - there was neither an error message nor any output at all. I manually converted it to a movie later on.

FWIW, I only tried the Qt4 version, so it may vary on Qt5.

If this is required, shouldn't this be a dependency so that it auto-installs?

[2019-05-10 20:56] jmirabel commented on #92
This does not use PythonQt.

[2019-05-10 20:57] jmirabel commented on #92
It could. Probably, @nim65s didn't know it.

[2019-05-10 20:59] jmirabel commented on #92
A bash alias won't work. The command isn't run in a bash shell. Can you try to add a symlink in one of the directories of PATH ?

[2019-05-24 11:47] xuhuairuogu opened #93 "compile error s about osg"
My environment is Ubuntu16.04 and I have installed openrave and openscenegraph3.2.1. The cmake can detect the openscenegraph successfully:
![cmake](https://user-images.githubusercontent.com/10009476/58325560-a9a89700-7e5c-11e9-9eb2-7b5c00e62112.png)
However, errors occur during the compiling like the following :
![error](https://user-images.githubusercontent.com/10009476/58325467-6cdca000-7e5c-11e

[2019-05-24 11:56] jmirabel commented on #93
The error message alone isn't enough. You must also provide the compilation command (last call to g++ before error, using `VERBOSE=1 make`).

[2019-05-24 12:03] xuhuairuogu commented on #93
![error](https://user-images.githubusercontent.com/10009476/58326266-e70e2400-7e5e-11e9-9c59-c1ba88a152b2.png)

[2019-05-24 12:08] jmirabel commented on #93
Do you have several versions of OpenSceneGraph installed ?

[2019-05-24 12:18] xuhuairuogu commented on #93
I search libosg and find there exists several versions.

[2019-05-24 12:25] jmirabel commented on #93
Then this is your issue. I think there is a missing `-L` option to the compilation command. Stackoverflow will be a better help for finding out how to solve your issue.

[2019-05-28 07:51] jmirabel commented on #93
I close because I believe this is not related to GV. Please, re-open if necessary.

[2019-05-28 07:51] #93 closed

[2019-06-14 16:23] jmirabel opened #95 "Parsing of Collada files"
Collada has a tag `up_axis`. Assimp seems not to read it while OSG seems to read it.

Assimp is used to parse mesh files in [ROS ](https://github.com/ros-planning/geometric_shapes/blob/cc25bac0b0e9f6fd079be71e432a0f15c8449387/src/mesh_operations.cpp#L235) and in [hpp-fcl](https://github.com/humanoid-path-planner/hpp-fcl/blob/devel/include/hpp/fcl/mesh_loader/assimp.h).
It seems this is a bug in As

[2019-06-19 07:42] jmirabel commented on #95
Solved by adding a *bug* in GV to follow Assimp standard. PR is #96.

          // FIXME: Fixes https://github.com/Gepetto/gepetto-viewer/issues/95
          // The bug: Assimp seems to ignore the DAE up_axis tag. Because this
          // cannot be fixed in assimp without a huge impact, we make GV
          // compatible with assimp.
          //
          // The fix: OSG DAE plugin rotates the a

[2019-06-19 07:42] #95 closed

[2019-07-04 15:21] stanislas-brossette opened #97 "[Ubuntu 18.04] gui items disappear behind transparent robot"
Hello,
I'm using gepette-gui to visualize robot trajectories and physical quantities like CoM/CoP/DCM...
The issue I'm facing is that when displaying a transparent robot and a sphere representing the CoP, that sphere disappears behind the transparent robot, while the floor is clearly visible behind the robot.
Below is the core code that I use for displaying the scene.
Am I missing something or is

[2019-07-05 06:54] jmirabel commented on #97
Hi,

you hit two points:
- a known issue: Rendering transparent object uses a basic node ordering method. This is sufficient to ensure the order between transparent and non-transparent objects. However, undesired occlusion will happen between two transparent objects in a hard to predict way.

  Rendering transparent objects is not reliable because GV does not use a depth peeling algorithm. To my b

[2019-07-05 07:27] stanislas-brossette commented on #97
The setFloatProperty method fixed the problem, thank you :)

[2019-07-05 08:09] #97 closed

[2019-07-05 08:10] jmirabel commented on #97
In next version, "Transparency" will be replaced by "Alpha" to fix the incoherent behavior.

[2019-08-08 16:02] jmirabel commented on #92
Solved by #94

You can create a Qt style sheet `stylesheet.txt`:
[code]
and run `gepetto-gui -stylesheet stylesheet.txt`

[2019-08-08 16:03] #92 closed

[2019-09-12 15:18] nim65s opened #104 "Forward Qt dependency in .pc"
Hi,

When a dependency of this package tries to import `config-osg.h`, it fails on the following line:

https://github.com/Gepetto/gepetto-viewer/blob/26a29ebaff86a7fa146d2dcf31184a02df601fe3/include/gepetto/viewer/config-osg.h#L13

e.g. in http://robotpkg.openrobots.org/rbulk/robotpkg-wip/wip/openhrp3-simulator-wo-rtm/openhrp3-simulator-wo-rtm-1.2.0/Ubuntu-16.04-x86_64/build.html :
[code]
So I th

[2019-10-07 16:33] wxmerkt opened #106 "Default for avconv setting on 18.04 wrong"
Relates to #92 and #94.

#94 added the ability to configure `avconv` to be `ffmpeg` or whatever we want. However, in the robotpkg distributed viewer, it still points to `avconv` on 18.04 by default - it is now `ffmpeg` again. Can this be fixed in the distributed version?

[2019-12-09 16:34] olimexsmart opened #112 "robotpkg - Installation dependency conflicts"
Hi,

I am trying to install gepetto-viewer using robotpkg, which seems to be configured correctly because I am able to install and use other packages (e.g., pinocchio). However, when trying to install gepetto-viewer I get the following error

[code]

I am working on Linux Mint 19.2, which is based on Ubuntu 18.04. I have tried to clean my system by uninstalling most robotpkg packages, so that now

[2019-12-09 16:37] jmirabel commented on #112
You probably have to install `robotpkg-py27-qt4-gepetto-viewer` and `robotpkg-py27-qt4-gepetto-viewer-corba`. Adapt it to your Python and Qt version.

[2019-12-09 17:43] olimexsmart commented on #112
Now my list of robotpkg packages looks like this but the problem persists

[code]

[2019-12-09 21:37] jmirabel commented on #112
What is the issue / error ?
Gepetto viewer seems correctly installed.

[2019-12-09 21:55] nim65s commented on #112
Hi @olimexsmart

Where didi you find instructions about `robotpkg-gepetto-viewer` ? This is obsolete and should have done replaced py `robotpkg-py36-qt4-gepetto-viewer`, which you correctly have.

[2019-12-10 08:31] florent-lamiraux opened #113 "Installation on Ubuntu-18.04 fails"
I have upgraded my computer to ubuntu-18.04 and the build of gepetto-viewer branch devel (just checked out) fails.

The problem seems to come from the fact that gepetto-gui is not linked to the python library. As a consequence, at linking, I get several messages like
undefined reference to `PyString_Size'

I solved the issue by adding a line in the src/CMakeLists.txt (commit f47465ae7f892e4fcc03dc

[2019-12-10 08:45] jmirabel commented on #113
Do you install GV with PythonQt ?

[2019-12-10 09:27] olimexsmart commented on #112
Hi, thanks for the quick response

Indeed now gepetto works fine

I just started a PhD with Andrea Del Prete and we were trying to set everything up. On his system `robotpkg-gepetto-viewer`, which is 16.04 based, worked fine. Don't know if the Ubuntu version matters in this question, but I would say it's the defining difference between our systems. BTW, he is going to substitute too his installati

[2019-12-10 09:27] #112 closed

[2019-12-10 09:39] florent-lamiraux commented on #113
Yes, I use the default settings.

[2019-12-10 09:42] florent-lamiraux commented on #113
In fact, I realize that I configure with option -DPROJECT_USE_QT4=OFF although qt5 is not installed. I will try again and let you know.

[2019-12-10 09:52] florent-lamiraux commented on #113
Recompiling pythonqt with PythonQt_QT_VERSION=4, I get the same error.

[2019-12-10 09:58] jmirabel commented on #113
In PythonQt, there are two different branches for Qt4 and Qt5. Check that you are on the right branch.

[2019-12-10 10:53] florent-lamiraux commented on #113
pythonqt is on branch qt4, with `CMakeCache.txt` containing
`PythonQt_QT_VERSION:STRING=4`

[2019-12-11 08:55] florent-lamiraux commented on #113
The problem came from a mix up between python2 and python3. I solved it by adding option -DPYTHON_EXECUTABLE=/usr/bin/python3 at configuration in order to match PythonQt python version.

[2019-12-11 08:55] #113 closed

[2020-02-17 09:48] julesser commented on #106
This seems to be somehow related to an error I currently receive. When trying to record a movie of the crocoddyl example _bipedal_walking.py_ in the gepetto viewer, it fails with the following log:

[code]

[2020-02-17 10:23] jmirabel commented on #106
@nim65s there are several possible workaround:
- use cmake to know what the default should be. Then, the line to change is https://github.com/Gepetto/gepetto-viewer/blob/0169d4b4da6c22fdc6354913b4a9fc1a8f768087/src/gui/settings.cc#L49
- otherwise, we could look for both and see if any is found.

[2020-02-17 12:12] nim65s commented on #106
Thanks for the heads-up, I had forgotten this.

[2020-02-17 13:01] jmirabel opened #120 "Desynchronize method refresh with rendering loop by default"
Follows discussion in https://github.com/stack-of-tasks/pinocchio/issues/1068

The implementation (418fb8f) is very simple and being tested.

[2020-02-25 08:50] jmirabel commented on #106
Fixed by #119

[2020-02-25 08:50] #106 closed

[2020-03-02 04:01] guru-florida opened #125 "Massive scaling issue and random joint orientation"
I can get the Talos robot to load fine. I've created my own urdf and srdf that loads in RViz2 fine but in Gepetto it's a jumble of links. It does load the links, but I have to zoom out as the model is about 40x or more larger than the talos model. In Blender the Talos STL and my STL/DAE models import as similar size so the models do not seem to be so different. Possibly the urdfdom is not respecti

[2020-03-02 09:56] pFernbach commented on #125
Hello, I do not know if this is related to your issue, but as you mentionned the 'unit' in the DAE file I just tried and this tag seems to be ignored when loading visual meshes from DAE files.
It is always using meter as unit.

Also, did you correctly installed the 'osg-dae' package, with `apt-get install robotpkg-osg-dae`

[2020-03-02 15:02] guru-florida commented on #125
Thanks @pFernbach for taking the time to verify. Yes, I did install the osg-dae package, and furthermore I can see the DAEs load and appear. I can confirm in my DAE that the units are in mm.
`  <unit name="millimeter" meter="0.001"/>`
I remember setting this in Blender during STL to DAE conversion and it was recommended by the ROS2 URDF tutorial. Possibly I could convert to meters and see.

[2020-03-02 18:43] guru-florida commented on #125
Ok, using Blender again I exported all DAEs with meter units and the robot is more to size. Also the DAEs line up perfectly with my collision models (visibility ON) which are STL not DAEs. Model is looking good and connected except it is upside-down. lol

[2020-03-03 10:16] jmirabel commented on #125
#126 solves the DAE unit issue.

[2020-03-03 10:19] jmirabel commented on #125
This might be due to the up_axis tag of Collada files.

[2020-03-04 01:54] guru-florida commented on #125
I have my robot working and integrated in the bipedal_walk.py. My first successful movement made me LOL. You might get a laugh too :)
https://youtu.be/dqKk8PO9zCE

[2020-03-04 01:54] #125 closed

[2020-03-04 10:00] jmirabel commented on #120
Solved by https://github.com/Gepetto/gepetto-viewer/pull/121

[2020-03-04 10:00] #120 closed

[2020-03-04 10:02] jmirabel commented on #104
@nim65s I close this since there hasn't been any activity. Feel free to re-open if needed.

[2020-03-04 10:02] #104 closed

[2020-03-10 14:28] jcarpent opened #128 "Gepetto-gui large CPU usage"
Dear @jmirabel,

Since the latest release of Gepetto-gui, I realized that a lot of CPU resources are used by gepetto-gui. Do you have any idea which change is at the origin of this downgrade?

[2020-03-10 15:58] jmirabel commented on #128
I did not see any difference on my computer but I guess I am not using it as you do. Can you be more precise on what objects are loaded ?

[2020-03-10 20:21] jcarpent commented on #128
I suspect the default value of refreshIsSynchronous_ to be the source of this new issue. Could we add an option to set it ON or OFF?

[2020-03-10 20:24] jcarpent commented on #128
I've found the option, but this seems not to be the cause. I will try to investigate it.

[2020-03-30 10:04] jmirabel commented on #128
Is this still an active issue ?

[2020-04-06 12:27] nim65s opened #131 "Plugin loading"
Hi,

Running `gepetto-gui`, with gepetto-viewer & gepetto-viewer-corba raised the following errors:
[code]

This .so is available at `/usr/lib/gepetto-gui-plugins`, so setting `QT_PLUGIN_PATH` to this path fixed the issue for me.

But depending on how I build GV & GV-corba, this is sometimes required and sometimes not.

Without this `QT_PLUGIN_PATH`, how is the plugin system able to find the plugi

[2020-04-06 12:29] jmirabel commented on #131
It looks for the plugin in *<path>/gepetto-gui-plugins* for each *path* in *LD_LIBRARY_PATH*.

[2020-04-06 12:47] nim65s commented on #131
Thanks, I understand better.

[2020-04-06 13:15] jmirabel commented on #131
I agree that the list of searched path is not exhaustive. Any suggestion is welcome.

[2020-04-07 08:37] nim65s commented on #131
I'd suggest to just add `${CMAKE_INSTALL_PREFIX}/lib/gepetto-gui-plugins`, and add a hint for `GEPETTO_GUI_PLUGIN_DIRS` in the error message.

[2020-04-22 14:51] #131 closed

[2020-04-22 14:52] jmirabel opened #135 "devel branch not compatible with Qt4"
QTemporaryDir is not available in Qt4.

[2020-05-13 07:43] florent-lamiraux commented on #135
I think this issues is solved, isn't it ?

[2020-05-13 07:51] jmirabel commented on #135
I think it is.

[2020-05-13 07:51] #135 closed

[2020-05-13 07:51] jmirabel commented on #135
#139

[2020-05-13 07:58] florent-lamiraux opened #141 "Fail to compile gepetto-viewer in Ubuntu-16.04, qt4."
I try to recompile HPP with the latest releases to update the installation instruction.
When linking `gepetto-gui` I have many undefined symbols and I notice that the link command does not contain `-lpython`. Looking at the CMakeLists below,
https://github.com/Gepetto/gepetto-viewer/blob/f7b4a4497bf8276713a94ef0b768cc06111a97b2/src/CMakeLists.txt#L147
 I would expect something like
[code]
I do not

[2020-05-13 08:08] jmirabel commented on #141
There is only a weak reason: They should be empty when GEPETTO_GUI_HAS_PYTHONQT is FALSE and putting it here makes the code shorter.

For the rest, I have no idea. Maybe it's time to drop Qt4 support...

[2020-05-13 08:12] florent-lamiraux commented on #141
I will try to install with Qt5 and update the installation instructions accordingly.

[2020-05-13 08:13] nim65s commented on #141
I've been looking at this, and I found that adding `TARGET_LINK_LIBRARY(${LIBRARY_NAME} ${PYTHON_LIBRARIES})` after the ` TARGET_LINK_BOOST_PYTHON(${LIBRARY_NAME})` fixed the issue.

However, I wanted to dig further to try to understand why we didn't had this issue before. Does this mean that every time we link  to boost::python we also have to manually link to python ? And in all our other packag

[2020-05-13 08:22] jmirabel commented on #141
CMake should handle this automatically. I checked and the call to *target_link_libraries* **should** contain the *PUBLIC* keyword.

Can't robotpkg also provide the Qt5 plugin where missing ?
The instructions to build that plugin are fairly easy. Something like:
[code]

This should only install the osgQt.so file, compatible with the repository version. The same applies to osg-dae, which should use

[2020-05-13 08:23] florent-lamiraux commented on #141
Is it possible to make a release 4.9.1 with the fix ? (a tag is enough.

[2020-05-13 08:49] nim65s commented on #141
Which `target_link_libraries` ?

I don't think that is is easy to get sources from `apt source` in robotpkg. Let's ask Anthony: https://git.openrobots.org/issues/255

@florent-lamiraux : yes, I can easily make a 4.9.1 release.

[2020-05-13 08:53] nim65s commented on #141
Anyway, I think that with @jmirabel snippet, we can drop support for Qt4 at least in the HPP Makefile, can't we ?

[2020-05-13 09:04] jmirabel commented on #141
could be. At the cost of having a more complex makefile.

[2020-05-14 11:12] nim65s commented on #141
Fixed by https://github.com/Gepetto/PythonQt/pull/6, thanks @florent-lamiraux !

[2020-05-14 11:12] #141 closed

[2020-06-12 10:05] nim65s opened #146 "Migration from osgQt to osgQOpenGL"
Hi,

In recent developments, the [osgQt project](https://github.com/openscenegraph/osgQt) removed everything related to osgQt (they just kept the name of the project) and switched to the new Qt5 preffered way and use QOpenGL:

https://github.com/openscenegraph/osgQt/pull/22

@jmirabel : could you evaluate the difficulty for us to move to the new interface ? Depending on the required work to make t

[2020-06-12 10:23] jmirabel commented on #146
It is hard to evaluate the time it takes to migrate.

Following your initial plan, you intend to provide a version of osgQt in robotpkg, that suits the need of gepetto-viewer ? This will not be different even if we switch so I think you should continue what you were doing.

[2020-06-12 16:13] nim65s commented on #146
Yes, I can continue on the initial plan, but we would need to either have some CMake magic that allows to use both osgQt or osgQOpenGL, or to synchronize well for the upgrade.

[2020-07-10 10:14] proyan opened #149 "Connection lost to the server"
Hi guys,
I'm following the devel branch in gepetto-viewer and gepetto-viewer-corba.

For the simple script below:
[code]

I get the following error:
[code]

I'm not sure why the connection gets closed. I've tried reinstalling gepetto-viewer, and I've tried restarting omni-nameserver by `sudo systemctl restart omniorb4-nameserver`

I have the following warning messages in the shell running `gepetto

[2020-07-10 13:05] proyan commented on #149
Surprisingly, when I try to connect to gepetto-gui in c++ using `https://github.com/jmirabel/pinocchio-gepetto-viewer`, I don't have any problem.

[2020-07-13 09:18] jmirabel commented on #149
From the *giop* address, it seems you use IPv6. I think I never tried to use IPv6 (at least, I never entered manually an IPv6 address). Although it should work out of the box, IPv4 is probably safer.

The nameserver isn't used anymore. You should be able to remove it.

C++ and Python access the server with the same way so it is weird that one works while the other does not. Do you have omniorb ins

[2020-07-13 10:30] proyan commented on #149
I don't have robotpkg installations. I use either installation from source, or from apt.

[2020-07-13 10:35] proyan commented on #149
Is there an omni.logs or something like that that I can peruse?

[2020-07-13 10:37] proyan commented on #149
The error messages seem to be in https://fossies.org/linux/omniORB/src/lib/omniORB/orbcore/giopImpl10.cc. at Line 438 (for python client) and Line 590 (for gepetto-server)

[2020-07-13 10:58] jmirabel commented on #149
Are you sure that there cannot be a mix between your source installation and your apt installation of omniorb ?

[2020-07-13 11:03] proyan commented on #149
I don't have a source installation of omniorb

[2020-07-13 11:12] jmirabel commented on #149
Is it repeatable: it never works in Python but it always work in C++ ?

[2020-07-13 11:13] proyan commented on #149
Yes, I still have this error in python. And I don't have this error in c++

[2020-07-13 11:37] jmirabel commented on #149
I have no idea of what's going wrong. It seems unrelated to GV itself but rather a misuse of omniorb.

The error appears somewhere in function `initViewer` of *pinocchio/visualize/gepetto_visualizer.py*. Can you tell me what line exactly ?

[2020-07-13 11:55] proyan commented on #149
I found the issue. After you talked about parallel installtions, I found that I had gepetto-viewer python installation in both dist-packages and site-packages. I've removed `site-packages/gepetto` and now it works.
Thanks Joseph. I'll close this issue.

[2020-07-13 11:55] #149 closed

[2020-07-27 12:22] julesser opened #150 "[question] Automated video recording"
Hi all,
I was wondering whether there is a way to automatically record and save videos?

[2020-07-27 12:26] jmirabel commented on #150
What do you mean by *automatically* ? At the moment, you have `startCapture` and `stopCapture` for video generation, `captureFrame` for image generation and some extra for exporting motion to blender.

See section *Export of scenes to images or to blender* in https://gepettoweb.laas.fr/hpp/gepetto-viewer-corba/doxygen-html/interfacegepetto_1_1corbaserver_1_1GraphicalInterface.html for a list of av

[2020-07-27 12:28] nim65s commented on #150
Here is another doc on blender export, to complete @jmirabel answer: https://github.com/Gepetto/gepetto-viewer-corba/blob/master/blender/README.md

[2020-07-27 13:28] julesser commented on #150
Thanks for the quick and helpful answers :)

_Automatically_ just in the sense of not having to press 'record' and 'save' for each simulation.

So the fastest way here would be to call `startCapture` and `stopCapture` within the application for getting the image frames and then converting it manually to a video?

[2020-07-27 13:33] jmirabel commented on #150
Yes, this is the simplest way. `avconv` of `ffmpeg` is your friend for merging the images into a video.

[2020-07-27 13:48] julesser commented on #150
Thanks!

[2020-07-27 13:48] #150 closed

[2020-10-05 20:44] ahmadgazar opened #154 "object collision detection inside gepetto-viewer"
Hi,
I am new with gepetto-viewer. I am trying to visualize collisions of an object I placed inside the gui with the robot. what is the optimal way of doing so? Are there some tutorials/examples I can look into? Thanks in advance.

[2020-10-06 06:50] jmirabel commented on #154
gepetto-viewer doesn't do collision detection.

To emphasize that two objects are in collision, you can highlight them using `gui.setHighlight(name, highlight_id)`. The id goes from 0 to 8 (included). 0 means no highlight. 1 is best suited to highlight collision.

If you want to display the closest points, the best is to use `addLine`.

[2020-10-06 08:20] ahmadgazar commented on #154
Awesome ! that's what I needed. Thanks a lot.

[2020-10-06 08:20] #154 closed

[2021-02-02 19:27] jakewelde opened #163 "Trouble building on 20.04"
Hi, I'm having trouble building GV, when I follow the build instructions and run `cmake ..` I get the following error, that I can't find `openscenegraph-osgQt5`. How do I install this dependency? I also wasn't able to find it manually myself. Many thanks!

[code]

[2021-02-03 07:43] florent-lamiraux commented on #163
You can find the required dependencies using robotpkg binary packages.
Add robotpkg repository by following the instruction at http://robotpkg.openrobots.org/debian.html.

Then
[code]
You should be able to compile after these instructions.

[2021-02-03 09:24] jmirabel commented on #163
As a complementary answer, if you install OSG from source, you also have to compile the https://github.com/openscenegraph/osgQt package. It has been separated from the main OSG package since version 3.5 or so.

[2021-02-03 15:54] jakewelde commented on #163
Thank you both for your quick and helpful responses!

Joseph, after posting that issue I tried to compile the package you mentioned but ran into many dependency/installation/package finding issues, so I just now tried what Florent suggested. I followed the instructions you shared and I was able to install these packages. I then ran `gepetto-gui` and then tried to use the visualizer from python as

[2021-02-03 16:29] jakewelde commented on #163
Update: I changed the order of my path so that now I'm using the `/opt/openrobots/` installation of pinocchio, and that seemed to resolve it. Thanks for your help!

[2021-02-03 16:29] #163 closed

[2021-02-10 08:22] YunxiTang opened #164 "No package 'openscenegraph' found"
when i try to build gepetto-viewer, the error raised that 'No package 'openscenegraph' found' . but i actually already installed openscenegraph. As osgversion command works well on  my linux system.

[2021-02-10 09:00] jmirabel commented on #164
How did you install openscenegraph and which version did you install ?
openscenegraph is found with pkgconfig so you should have a valid PKG_CONFIG_PATH.

[2021-02-12 06:03] YunxiTang commented on #164
i use sudo install  to install openscenegraph.

[2021-02-12 07:05] florent-lamiraux commented on #164
Can you type `dpkg -l | grep openscenegraph` on your machine and copy paste the result here ?

[2021-02-12 08:22] jmirabel commented on #164
I asked for the version as well. I think it is because you didn't install the development package of openscenegraph.

[2021-02-23 10:46] proyan opened #165 "Handle Lighting parameters when rendering colors"
Hi Guys,

OpenGL proposes the following lighting parameters for rendering objects: ambient, diffuse, specular and emissive. These are explained in http://www.glprogramming.com/red/chapter05.html
Allowing this in gepetto-viewer should be possible with the current API.

This is a tracker issue, meant to keep this development in check.
Best,
Rohan

[2021-03-19 16:10] vpadois opened #167 "Scene characteristics parametrization"
Hello,
Is there a python example on how to parametrize the 3D scene appearance (ground, background,...) and load objects in the scene ?
Best
Vincent

[2021-03-19 16:29] jmirabel commented on #167
You may have a look at https://github.com/gepetto/gepetto-viewer-corba/tree/devel/examples

They are quite basic though. What do you want to do ?

[2021-03-19 16:38] vpadois commented on #167
At this stage not much more than removing the background or adding frames associated to each bodies. Nothing very important but that could be handy.

[2021-03-19 16:45] jmirabel commented on #167
There is also the doxygen doc of the Python API. Available using standard Python help or https://gepettoweb.laas.fr/doc/gepetto/gepetto-viewer-corba/master/doxygen-html/interfacegepetto_1_1corbaserver_1_1GraphicalInterface.html

[2021-03-19 17:05] vpadois commented on #167
Thanks. I will explore the possibilities starting from there.
Best
Vincent

[2021-03-19 17:05] #167 closed

[2021-04-07 10:04] ntorresalberto opened #168 "Installing gepetto-viewer with conda"
Hi,
I've been trying out `pinocchio` but it doesn't seem to notice my `gepetto-viewer` install (https://anaconda.org/conda-forge/gepetto-viewer).
Both are installed with conda in the same environment.

I launch the viewer with `gepetto-gui` and then my pinocchio script  throws (the viewer examples throws the same error):
[code]

[2021-04-07 10:06] jcarpent commented on #168
You should install `conda install gepetto-viewer-corba -c conda-forge` to get the Python bindings.

[2021-04-07 10:06] #168 closed

[2021-04-07 12:53] ntorresalberto commented on #168
Indeed, that fixed it.
Could you please add it to the main readme?
I think something as simple as this would be of great help for those who want to give it a try without compiling:

## Conda Environment Setup
`conda install gepetto-viewer gepetto-viewer-corba -c conda-forge`

[2021-04-07 13:02] jcarpent commented on #168
Could you open a PR with your suggestion?

[2021-04-16 17:56] ndehio opened #170 "missing dependency: No package 'openscenegraph-osgQt5' found"
Hi,
I tried to install gepetto-viewer from source (with a recent installation of  [OpenSceneGraph 3.6](https://github.com/openscenegraph/OpenSceneGraph/tree/OpenSceneGraph-3.6)) but the cmake fails. Which dependency am I missing? Could you please provide me a link?
thank you
Niels
[code]

[2021-04-16 23:57] nim65s commented on #170
osgQt is available at https://github.com/openscenegraph/osgQt

[2021-04-18 10:01] ndehio commented on #170
Ok, I just installed osqQT from source (master branch)
[code]
However, for installing gepetto-viewer the `cmake ..` is still failing with the same error as before

[2021-04-19 06:25] florent-lamiraux commented on #170
`gepetto-viewer` uses `pkg-config` to find where `osgQt` is installed. Make sure that `usr/local/lib64/pkgconfig` is in your `PKG_CONFIG_PATH`.

[2021-04-19 09:18] ndehio commented on #170
ok, I added `export PKG_CONFIG_PATH=usr/local/lib64/pkgconfig:$PKG_CONFIG_PATH` but the error is still the same.

[2021-04-19 09:27] jcarpent commented on #170
You have forgotten a `/` at the beginning of the path ;)

[2021-04-19 10:02] ndehio commented on #170
oh indeed, my mistake... But I still get
[code]

I noticed that OpenSceneGraph installs into `/usr/local/lib/` whereas osgQt installs into `/usr/local/lib64`. Is this a problem?

In my bashrc I have
[code]

[2021-04-19 10:03] proyan commented on #170
I have the same issue.
For now, I replaced line 121
[code]
with

[code]
and it seems to work.

[2021-04-19 10:46] ndehio commented on #170
Thanks @proyan, that hack works for me, however now I have the following (probably related) problem at this line `PKG_CONFIG_USE_DEPENDENCY(${LIBRARY_NAME} ${OSGQT_DEPENDENCY})`
My cmake outputs this:
[code]

[2021-04-19 11:33] proyan commented on #170
@ndehio
Could you try to install the `topic/Qt4` branch of https://github.com/openscenegraph/osgQt instead of the `master` branch?
In my case, I didn't need to do any changes in `gepetto-viewer` package

[2021-04-19 13:52] ndehio commented on #170
Switching to Qt4 branch didn't help (but for some reason it still builds `libosgQt5`).

[code]
and
[code]

[2021-04-19 13:58] jcarpent commented on #170
You may rather use:
[code]

[2021-04-19 19:34] nim65s commented on #170
@ndehio : On which distribution are you trying to build this ?

[2021-04-19 19:48] ndehio commented on #170
@nim65s It is a Ubuntu 18.04

[2021-04-19 19:51] nim65s commented on #170
Thanks. I'll try to reproduce this in a clean environment.

[2021-04-19 20:47] nim65s commented on #170
It looks like everything is working for me with this Dockerfile, assuming Python 2.7 & Qt 5:

[code]

 There are multiple things included in this Dockerfile that were not mentioned in the previous answers to this issue.

 Is this helping ?

[2021-04-20 19:58] ndehio commented on #170
Tomorrow I will have time to investigate further.
Note that I installed OpenSceneGraph version 3.6 (not 3.4) from source.

[2021-04-21 07:59] jmirabel commented on #170
It seems you guys have mixed a few things. Macro `ADD_OSGQT_DEPENDENCY` should obviously not be shortcut. It does the logic of looking for the good package.

For OSG >= 3.5.5, gepetto-viewer will look for openscenegraph-osgQt for Qt4 and openscenegraph-osgQt5.

@ndehio start from scratch again and do
- choose your version of Qt,
- install osgQt for your version of Qt,
- compile gepetto-viewer with

[2021-04-22 09:17] ndehio commented on #170
I tried several combinations with OpenSceneGraph version 3.6 and 3.4 installed from source which all didn't workout.

Finally, I did `sudo apt-get install openscenegraph-3.4 libopenscenegraph-3.4-dev` and then I was able to install osgQt, gepetto-viewer and gepetto-viewer-corba without further problems. Thanks!

[2021-04-22 09:17] #170 closed

[2021-05-07 10:21] proyan opened #172 "mesh is always rendered in color white"
Hi guys,
It seems I have another bug.
No matter what color I provide to a mesh, the mesh is always displayed as completely white.

I don't have any color issue in pybullet, and pybullet loads the color that is specified in the material tag of urdf.
However when loading in gepetto-gui, the color doesn't seem to change.

I checked the pinocchio parser, and it is providing the good color information

[2021-05-26 12:03] gabrielebndn opened #174 "Citing Gepetto Viewer"
Hi guys,
at Wandercraft we are using Gepetto Viewer for visualizing the robot movements. We are mentioning this in a paper and we would like to properly cite your work. However, I could not think of any good reference, nor I could find one by searching online.

As far as I remember there isn't any, but I still prefer to double-check with you: what's the most appropriate way to cite Gepetto Viewer?

[2021-05-27 06:34] jmirabel commented on #174
Hi,
There is no article associated to this project so using a link to github is
the best. Thank you for doing this.

[2021-05-28 13:23] gabrielebndn commented on #174
Ok, thanks for your answer!

[2021-06-02 07:21] #174 closed

[2021-06-10 10:24] proyan opened #175 "gepetto-gui: "scale" text box being filled with garbage values"
Hi guys,

When setting the radius of a cylinder through the gepetto-gui API, I noticed some weird behaviour. When I press "del" or "backspace" to delete the existing values, the tail end of the value keeps filling up with what I think is garbage. I attach a video to show what I observed

https://user-images.githubusercontent.com/12423606/121509098-971f3d00-c9e6-11eb-8776-5046d2373a30.mp4

I am cur

[2021-06-14 06:22] florent-lamiraux commented on #175
Strange behavior. It seems to me that the bug is more related to Qt than to gepetto-gui since gepetto-gui simply uses textboxes. Does it happen for other widgets ?

[2021-06-14 08:43] jmirabel commented on #175
The *garbage* comes from the spin box. When you enter a value, the value is converted to float and send to the cylinder node. The cylinder node updates the geometry and update the display to the float value.

Are you able to enter the radius you want ?

[2021-06-14 08:46] proyan commented on #175
The same value filling occurs for the other boxes as well. I was able to replicate it for height and alpha text boxes.

I finally did it through the python interface. It was a bit tricky to do it through the gui

[2021-06-14 08:49] jmirabel commented on #175
I agree that it does seem very easy.

I'm surprised though because I did use it. I wouldn't have been satisfied with what you experienced so I would have modified the code. You use Qt5 ?

[2021-06-14 09:13] proyan commented on #175
Yes, I'm using Qt5

[2021-06-25 15:52] IoannisDadiotis opened #176 "CMake Error at CMakeLists.txt:31 (INCLUDE)"
Hi,

I am trying to setup in my Ubuntu 18.04. When `cmake ..` in my build folder, I am getting the following error:
[code]
I checked the folder `/my_workspace/src/gepetto-viewer/cmake` and it is empty.

Thank you.

[2021-06-25 17:31] olivier-stasse commented on #176
Dear @IoannisDadiotis, thank your interest.
You did not use the `--recursive` option when cloning your repository.
It is highly recommended to install Gepetto-Viewer through a binary package.

[2021-06-26 13:01] IoannisDadiotis commented on #176
Thank you @olivier-stasse.

After some additional issues, I finally built and installed without errors.

However, when typping `gepetto-gui` on a terminal I get:
 ```gepetto-gui: error while loading shared libraries: libgepetto-viewer.so: cannot open shared object file: No such file or directory```

The file `/usr/local/lib/libgepetto-viewer.so` exists.

I read that gepetto-viewer used `pkgconfig`

[2021-06-26 15:43] nim65s commented on #176
Hi @IoannisDadiotis ,

pkg-config is used at configure or compile time, not at runtime.
To allow your executable to find its shared objects at runtime, you can use `export LD_LIBRARY_PATH=/usr/local/lib`

[2021-06-26 21:49] IoannisDadiotis commented on #176
Hi @nim65s, I can now launch the gui. Notice that in the terminal I launch it, I get
[code]

Morover, while trying to use `crocoddyl` and doing `python -m crocoddyl.examples.quadrupedal_gaits "plot" "display"` (without the display option I have no issues) I get:
[code]

[2021-06-28 06:31] florent-lamiraux commented on #176
The error seems to come from this block: https://github.com/stack-of-tasks/pinocchio/blob/7e3f96e59047b40e678a53b3877b401af4b6d0bd/bindings/python/pinocchio/visualize/gepetto_visualizer.py#L37.
Can you try to run the commands one by one to check where it fails ?

[2021-06-28 09:37] IoannisDadiotis commented on #176
@florent-lamiraux, I am not sure if this is the optimal way but I did it by adding breakpoints.

It seems to fail in  [this line](https://github.com/stack-of-tasks/pinocchio/blob/7e3f96e59047b40e678a53b3877b401af4b6d0bd/bindings/python/pinocchio/visualize/gepetto_visualizer.py#L38) while the `UserWarning: Error while importing the viewer client.
Check whether gepetto-gui is properly installed
  se

[2021-06-28 10:11] IoannisDadiotis commented on #176
I think I have missed `gepetto-viewer-corba` which is important for the display option.

When `sudo apt update && sudo apt install robotpkg-py27-qt4-gepetto-viewer-corba`
I get:
[code]

[2021-06-28 10:22] florent-lamiraux commented on #176
It seems to fail to start the CORBA client. Can you run gepetto-gui with option `-v` and copy paste the terminal output here ?

[2021-06-28 10:24] IoannisDadiotis commented on #176
[code]

[2021-06-28 10:26] florent-lamiraux commented on #176
I did not see your previous message. I need actually to install robotpkg-gepetto-viewer-corba.
Maybe you  can try `sudo apt upgrade` and then retry `sudo apt install robotpkg-py27-qt4-gepetto-viewer-corba`.

[2021-06-28 10:40] IoannisDadiotis commented on #176
I get the same errors:
[code]

[2021-06-28 10:50] florent-lamiraux commented on #176
It seems that the binary packages are being rebuilt: http://robotpkg.openrobots.org/rbulk/robotpkg/index.html?.
Wait until it is done and try again.

[2021-06-29 07:19] jmirabel commented on #176
You cannot install gepetto viewer from source and gepetto-viewer corba from binaries...

[2021-06-29 08:49] IoannisDadiotis commented on #176
@jmirabel Thanks for the clarification. I am trying to install gepetto-viewer-corba from source. When `make install` I get:
[code]
To reach this point it was needed to `sudo apt-get install libomniorb4-dev omniidl`

[2021-06-29 08:50] jmirabel commented on #176
Why don't you go for binaries ?

[2021-06-29 08:57] IoannisDadiotis commented on #176
I have already installed gepetto-viewer from source. Based on your comment I cannot install gv-corba from binaries unless I re-install gepetto-viewer from binaries. Do you think this is a better option?

[2021-06-29 09:18] jmirabel commented on #176
Remove everything you have installed and use the binaries.

[2021-06-29 10:12] IoannisDadiotis commented on #176
So I will first need to re-install `gepetto-viewer` and `osgQt` from binaries. Could you guide me through this? I only found [documentation](https://github.com/Gepetto/gepetto-viewer#setup) for installing from source.

[2021-06-29 10:29] nim65s commented on #176
You don't need osgQt. If you run `sudo apt install robotpkg-py3\*-qt5-gepetto-viewer-corba`, everything you need will automatically come

[2021-06-29 11:25] IoannisDadiotis commented on #176
Can I adjust to python2.7 and qt4 (since I have  `Qt version 4.8.7` and default `Python 2.7.17`)? Something like `sudo apt install robotpkg-py27\*-qt4-gepetto-viewer-corba` ?

[2021-06-29 12:57] nim65s commented on #176
I suggest `robotpkg-py27-qt5-gepetto-viewer-corba`. This will automatically setup the Qt5 required dependency on your system, without interfering with your existing Qt 4.8.7. Using the viewer in Qt4 is becoming deprecated, and you might not have the latest version, features and bugfixes.

[2021-06-29 18:03] IoannisDadiotis commented on #176
Thank you. Well, I played around with the examples and they seem to run as expected through terminal.

I then tried to run an [example](https://github.com/loco-3d/crocoddyl/blob/master/examples/notebooks/arm_manipulation.ipynb) from the notebooks in a virtual environment with python2.7 interpreter in Pycharm (while running `gepetto-gui` in a terminal) and I got:
[code]
As far as I can understand,

[2021-06-30 11:17] IoannisDadiotis commented on #176
Solved by augmenting interpreter's path with `/usr/lib/python2.7/dist-packages`.

Copied the code from [unicycle_utils](https://github.com/loco-3d/crocoddyl/blob/master/examples/notebooks/unicycle_utils.py) to my project as a workaround

Thanks to everyone for the support.

[2021-06-30 11:17] #176 closed

[2021-08-17 16:48] nim65s opened #177 "check URDFs with names containing /"
As found by @bmelya, `<link name="DFKI_Motor_0/axis">` doesn't work.

[2021-08-17 16:52] jcarpent commented on #177
I would say that we should not use URDF loader of gepetto-viewer as it is not very satisfactory. A viewer should not be aware of the notion of kinematic chains.

[2021-09-07 13:43] tlemarec commented on #164
Hello, same problem here.
I used `sudo apt install openscenegraph` and `dpkg -l | grep openscenegraph` returns :
[code]

[2021-09-07 14:03] nim65s commented on #164
This is missing the development package: can you try again after `sudo apt install libopenscenegraph-dev`  ?

[2021-09-07 14:13] tlemarec commented on #164
This worked thanks

[2021-09-07 14:39] #164 closed

[2021-10-18 14:45] IoannisDadiotis opened #179 "gepetto-viewer and Jupyter Notebook"
Hi,

I have installed gepetto-viewer and I can successfully use it as follows:
- Run `gepetto-gui` on a terminal
- run examples from `crocoddyl` either from terminal with `python -m crocoddyl.examples.quadrupedal_gaits "display" "plot" # enable display and plot` or from a python IDE within a venv.

As a result I can see the motion generated by the solvers.

However, when trying to run examples of

[2021-10-18 15:05] #179 closed, assigned to nobody

[2022-01-04 06:54] Shervina-lim commented on #170
Followed ur steps. Successfully installed gepetto-viewer. Thanks a lot!!

[2022-01-27 11:21] florent-lamiraux opened #181 "Meshes are never deleted"
To display an octree, I create an obj file that I then load through CORBA by calling method `WindowsManager::addMesh`.
This function calls `LeafNodeCollada::create` that calls `LeafNodeCollada::init`.

After this line,
https://github.com/Gepetto/gepetto-viewer/blob/7e420b7d07013f97198235000e943592f69d9c1a/src/leaf-node-collada.cpp#L110
the number of `referenceCount` of `collada_ptr_` is 2 although

[2022-01-29 01:41] Saeed-Mansouri opened #182 "gepetto-gui does't exist"
My list of robotpkg packages looks like this but the command gepetto-gui doesn't exist on my system! How can I run gepetto-viewer?

[code]

[2022-01-29 03:02] Saeed-Mansouri commented on #112
I'm trying to install gepetto-viewer using robotpkg on Ubuntu 18.04. I have the same issue! How can I fix this error?

[code]

[2022-01-29 09:29] nim65s commented on #182
Hi @Saeed-Mansouri,
Robotpkg install everything in its own prefix to ensure there is no issue with anything else you already have on your system.
This prefix is `/opt/openrobots`.

The binary you are looking for is therefore in `/opt/openrobots/bin/gepetto-gui`. You can either run this full command, or update your environment to automatically look there with `export PATH=/opt/openrobots/bin:$PATH`

[2022-01-29 09:29] #182 closed

[2022-01-31 07:30] jmirabel commented on #181
I would say yes. One reference hold by the cache, one hold by `collada_ptr_`.

[2022-01-31 07:59] florent-lamiraux commented on #181
You are right. The problem is that the object is not removed from the cache here:
https://github.com/florent-lamiraux/gepetto-viewer/blob/ec82cb0c80082c4c4c13195705aa2ccae3439216/src/leaf-node-collada.cpp#L459
I am investigating.

[2022-01-31 08:04] jmirabel commented on #181
I think we have to store the option used to load the mesh and pass it to `removeFromObjectCache`.

[2022-01-31 08:05] jmirabel commented on #181
https://github.com/openscenegraph/OpenSceneGraph/blob/34a1d8bc9bba5c415c4ff590b3ea5229fa876ba8/src/osgDB/ObjectCache.cpp#L79

[2022-01-31 08:18] florent-lamiraux commented on #181
Looking at OpenSceneGraph code you are probably right. I will try.

[2022-02-17 14:17] AlessioMosca opened #185 "compilation error"
I can not figure out why I am not able to compile the package. I got the following error:

error: ‘void QAbstractButton::clicked(bool)’ is protected within this context
     QObject::connect(button, &QAbstractButton::clicked, [this]() { get(); });
                                                ^~~~~~~
In file included from /usr/include/qt4/QtGui/qcheckbox.h:45:0,
                 from /usr/includ

[2022-02-17 14:36] nim65s commented on #185
Hi, I'm not sure how the Qt4 support is still working or not. Could you try with Qt5 to see if this help ?

[2022-02-17 19:51] jmirabel commented on #185
Your osg version is rather old. You must first check what Qt version this OSG version supports. If it supports Qt5, make sure it was compiled with Qt5. Then, force usage of Qt5 by switching CMake option `PROJECT_USE_QT4` to `FALSE`. For old OSG version, this variable is true by default.

[2022-02-17 19:51] jmirabel commented on #185
Have a look at the files in `cmake-modules` directory to see the logic. The files are no so numerous and they are short.

[2022-03-01 12:53] florent-lamiraux commented on #181
Solved by https://github.com/Gepetto/gepetto-viewer/pull/183.

[2022-03-01 12:53] #181 closed

[2022-03-16 11:25] jmirabel opened #186 "Robotpkg packaging"
Hi @nim65s,

Could you update gepetto-viewer binaries on robotpkg:
- [ ] to include QCustomPlot (`cmake -DBUILD_PY_QCUSTOM_PLOT=ON` should be sufficient) and
- [ ] to add `oxygen-icon-theme` as an apt dependency ?

For the record, QCustomPlot license is GPL and it is included in gepetto-viewer as a plugin. It does not change the license of gepetto-viewer. It implies that Python plugins based on QC

[2022-04-01 07:28] jmirabel commented on #53
I unassigned myself as it is unlikely I'll work on this now.

[2022-04-20 09:11] thomasfla opened #189 "Impossible to clone submodule"
Hi, it seems that the submodule can not be clone due to a GitHub authentication error.
[code]

[2022-04-20 09:48] florent-lamiraux commented on #189
On which version are you ? I think @nim65s fixed the issue in the devel branch.
Otherwise, you can type
```git config --global url."https://".insteadOf git://```
and try again.

[2022-04-20 10:51] nim65s commented on #189
Yes, this is fixed in #180, and the release of that is in progress in #188. Sorry for the inconvenience

[2022-04-20 10:51] #189 closed

[2022-04-20 13:32] thomasfla commented on #189
Thanks, I ended up installing it from robotpkg.
Maybe the binary installation could be added in the doc?

[2022-06-13 15:29] AlessioMosca commented on #185
Hi guysp, many thanks for your help. @jmirabel  I  followed your suggestion and it worked. Many thanks.

[2022-07-01 22:17] TJBetter opened #193 "build fails on ubuntu 18.04 clean install"
Hello,

Thank you all for making this repo public. I have been using it on ubuntu 20.04 with no problem. When I tried to build it on ubuntu 18.4 following https://github.com/Gepetto/gepetto-viewer/issues/170, I cannot compile gepeto-viewer. The error message with make -sj4 gives:

Any thoughts? Thank you.

[2022-07-02 08:42] nim65s commented on #193
Hi,

Thanks for your report.

Could you describe how you installed the dependencies, so I can try to reproduce your issue ?

Also, if you prefer something that works out of the box, you can use binary packages. We provide debs for ubuntu 18.04 with robotpkg: http://robotpkg.openrobots.org/debian.html ; so in your case with python 2 and qt5, you after setting up the source, you should be able to `s

[2022-07-02 12:39] JaehyunShim opened #194 "AttributeError: 'GepettoVisualizer' object has no attribute 'viewer'"
I encountered this issue and I have no idea how to solve it.

1. I didn't forget to run gepetto_viewer first in another terminal
2. I tested with binary as well as source code from the devel branch
3. I tested on two PCs and saw the same error code.

Regards,
Jae

[2022-07-02 21:13] nim65s commented on #194
Hi,

I guess you probably need python bindings. Did you install https://github.com/gepetto/gepetto-viewer-corba too ?
Also, the correct binary is `gepetto-gui`

[2022-07-11 15:35] TJBetter commented on #193
Thank you for your attention. I have decided to move to ubuntu 20 and now I solved this problem. Sorry I had to remove the screenshot since it reveals sensitive information.

[2022-07-11 15:35] #193 closed

[2022-07-27 09:23] andreadelprete opened #196 "adding stl mesh makes other meshes disappear"
Hi, I am trying to visualize a UR5 robot together with a table in gepetto viewer. I first initialize the viewer and load the robot model using a pinocchio RobotWrapper, as usual. Then I load the table stl model using `addMesh("world/table", "path-to-stl-file")`. The result is that as soon as I load the table model, the table appears and the robot disappears from the viewer. If I do the operations

[2022-08-01 12:14] florent-lamiraux commented on #196
Do you have a script to reproduce the error ?

[2022-08-01 13:47] andreadelprete commented on #196
This code can reproduce the error:
[code]
The stl file can be found [here](https://github.com/iit-DLSLab/ros_impedance_controller/blob/ad4128f45bbf2f5b17dd3e9e465b3c8d66250042/worlds/models/tavolo/mesh/tavolo.stl).

[2022-08-01 14:56] florent-lamiraux commented on #196
I found the UR5
![where-is-the-ur5](https://user-images.githubusercontent.com/436546/182178260-007a7a15-0a49-410a-9101-c35aed5c6f13.png)

[2022-08-01 14:57] florent-lamiraux commented on #196
Do you have another one ?
I love this game: "find the UR5".

[2022-08-01 14:57] florent-lamiraux commented on #196
More seriously. I think there is a problem of scale. Your stl is expressed in millimeters.

[2022-08-01 17:33] andreadelprete commented on #196
Thanks @florent-lamiraux ! Sorry for the silly problem! :D

[2022-08-01 17:33] #196 closed

[2022-09-08 13:05] jmirabel commented on #186
Hi @nim65s
Would you have time to do this ?

[2022-09-08 13:18] nim65s commented on #186
First part is trivial and will be handled soon. For the second, I am not sure yet, but I'll check with the first :)

[2022-11-16 22:29] nim65s commented on #186
I think this is OK now. @jmirabel : could you confirm and close this ?

[2022-11-19 21:35] jmirabel commented on #186
I guess it's fine. I haven't had the chance to test yet. I'll re-open if there is an issue.

Thank you.

[2022-11-19 21:35] #186 closed